# Bundler cache (Jekyll blog)
blog/.bundle
blog/vendor
blog/Gemfile.lock

# Jekyll cache & output
blog/.jekyll-cache
blog/.jekyll-metadata
blog/_site

# RubyGems
*.gem

# NPM / Astro dependencies & build
node_modules
dist
.astro

# Generated blog data (auto-created by scripts/generate-blog-data.mjs)
src/data/blog-posts.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
blog/_sass/vendors
blog/assets/js/dist

.github/copilot-instructions.md

.github/skills/
